:root {
    --brown: #312614;
    --gold: #B7832F;
    --gray: #707070;
    --white: #FFF;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-size: 1.125rem;
    color: var(--gray);
}

h1 {
    font-size: 3rem;
    color: var(--brown);
    text-align: center;
}

h2 {
    font-size: 1.5rem;
    color: var(--gray);
}

img {
    width: 100%;
}

.container {
    width: 95%;
    max-width: 980px;
    margin: 0 auto;
}

#headline-picture {
    width: 100%;
}

span {
    color: var(--gold);
}

.column {
    display: flex;
    margin: 1em 0;
    gap: 2em;
}

.col-side {
    background-color: var(--brown);
    color: var(--white);
    padding: 1em;
}

.col-1 {
    width: 25%;
}

.col-2 {
    width: 50%;
}

.col-3 {
    width: 75%;
}

@media (max-width: 600px) {
    .column {
        flex-direction: column;
    }

    .col-1, .col-2, .col-3 {
        width: 100%;
    }
}