@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Kode+Mono:wght@400..700&display=swap');

:root {
    --blue:  #92DAD9;
    --pink: #ECA4A4;
    --light-blue: #DCEBEB; 
    --off-white:  #eeeeeecb;
    --white: #FFF;
    --black: #000000;
    --gray: #737373;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Fira sans', sans-serif; */
}

body {
    height: 100vh;
    background-image: linear-gradient(to bottom right, var(--blue), var(--pink));
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/* font organization */
h1, h2, .edit, .clear {
    font-family: "Bebas Neue", sans-serif;
}

.task .content .text, #new-task-input {
    font-family: "Kode Mono", monospace;
}


button, input {
    outline: none;
    border: none;
    appearance: none;
    background: none;
} 

main {
    display: flex;
    justify-content: center;
    padding: 1.5rem;
}

h1 {
    font-size: 1.5rem;
    margin-bottom: -0.5rem;
    font-weight: 200;
}

.container {
    display: flex;
    flex-direction: column;
    flex: 1 1 0%;
    max-width: 800px;
    background-color: #eeeeee60;
    border-radius: 20px;
    align-items: center;
    padding: 1rem 2rem;
    gap: 1rem;
    box-shadow: #6b6565 1px 1px 5px,#000000 1px 1px 1px;
}

.new-task-container {
    display: flex;
    width: 100%;
}

#new-task-input {
    flex: 1 1 0%;
    max-width: 800px;
    background-color: var(--light-blue);
    color: var(--black);
    border-radius: 7px 0 0 7px;
    border: solid var(--black) 1px;
    padding: 1rem;
    margin-right: -0.2rem;
    font-size: 1rem;
}

#new-task-input::placeholder {
    color: var(--gray);
}

#new-task-submit {
    background-image: linear-gradient(to bottom right, var(--blue), var(--pink));
    color: var(--black);
    border: solid var(--black) 1px;
    border-radius: 0 7px 7px 0;
    padding: 0.5rem;
    width: 3rem;
    font-size: 1.25rem;
    transition: 0.4s;
    cursor: pointer;
}

#new-task-submit:hover {
    opacity: 0.7;
    color: var(--black);
}

#new-task-submit:active {
    opacity: 0.9;
    color: var(--white);
}

.agenda-section {
    width: 100%;
    padding: 0 0.5rem;
}

.top-section {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.3rem;
}

h2 {
    color: var(--gray);
    font-size: 0.8rem;
    font-weight: 300;
    margin: 0 0 5px 5px;
}

.clear {
    font-size: 0.8rem;
    font-weight:lighter;
    cursor: pointer;
    height: 1rem;
    margin-right: 0.5rem;
    background-color: var(--pink);
    width: 2.5rem;
    outline: var(--black) solid 0.5px;
    border-radius: 1rem;
    cursor: pointer;
    transition: 0.4s;
}

.clear:hover {
    opacity: 0.7;
    background-color: var(--gray);
}

.clear:active {
    opacity: 0.9;
}

.task {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--pink);
    border: solid 1px black;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    border-radius: 20px;
}


.task .content {
    flex: 1 1 0%;
}

.task .content .text {
    width: 100%;
    color: var(--black);
    font-weight: 900;
    font-size: 0.8rem;
}

.task .content .text:not(:read-only) {
    color: #ad0ea0;
    text-decoration:underline;
}

.task .buttons {
    display: flex;
    gap: 0 5px;
    font-size: 0.7rem;
}

.task .buttons .edit {
    outline: #000000 solid 0.2px;
    padding: 0.3rem;
    letter-spacing: 0.3px;
    border-radius: 10px;
    height: 27px;
    width: 35px;
    cursor: pointer;
    transition: 0.4s;
    margin-left: 5px;
}

.task .buttons .edit:hover {
    opacity: 0.7;
    background-color: pink;
}

.task .buttons .edit:active {
    opacity: 0.9;
    background-color: rgb(201, 90, 108);
}

.task .buttons .save {
    background-color: var(--light-blue);
    color: var(--black);
}

.task .buttons .save:hover {
    opacity: 0.7;
    background-color: rgb(255, 255, 255);
}

.task .buttons .save:active {
    opacity: 0.9;
    background-color: rgb(201, 90, 108);
}

.task .buttons .delete {
    font-size: 0.8rem;
    font-weight: 700;
    color: var(--white);
    background-color: var(--black);
    border-radius: 10px;
    width: 2rem;
    height: 28px;
    cursor: pointer;
    transition: 0.4s;
}

.task .buttons .delete:hover {
    opacity: 0.7;
    background-color: rgb(250, 0, 0);
}

.task .buttons .delete:active {
    opacity: 0.9;
    background-color: #a11212;
}

.error-container {
    background-color: #a11212;
    position: absolute;
    height: 200px;

}