@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(237, 103, 255);
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.buttons {
    width: max(15vw, 20vmin);
    height: 50px;
    margin: 10px;
    font-size: min(3vmin, 50px);
    border-radius: 20px;
    background-color: rgb(255, 203, 252);
}

.buttons:hover {
    background-color: rgb(247, 67, 238);
    color: rgba(0, 0, 0, 0.726)
}

.buttons:active {
    background-color: rgb(255, 162, 250);
    color: rgb(0, 0, 0)
}
#question-title {
    color: #fff;
    font-size: max(7vw);
    text-shadow: black 2px 2px, black -2px -2px, rgb(255, 21, 21) 4px 4px;
    font-family: 'Bebas Neue', sans-serif;
}

p {
    position: absolute;
    bottom: 10px;
    font-size: vmin;
    font-family: 'Bebas Neue', sans-serif;
    color: rgb(61, 10, 68);
}